body {
  background-image: url('../src/assets/images/gangadesktop.jpg');
  font-family: Poppins;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; /* Start from bottom */
  transition: background-position 1s ease-out; /* Add slide-up transition */
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url('../src/assets/images/gangamobile.jpg');
  }
}

/* For slide-up effect, initially place the background at the bottom */
body {
  animation: slideUp 2s forwards;
}

/* Animation keyframe for slide-up effect */
@keyframes slideUp {
  0% {
    background-position: center bottom; /* Start from bottom */
  }
  100% {
    background-position: center center; /* End at center */
  }
}
#free-solo-2-demo-label{
  color: white;
}


.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
